# ChatData

## Sqlite
We are using a file system called **sqlite**. It looks and acts like a real single user relational database (RDB). sqlite3 comes packaged with python. You do not need to install the library. You simply import it (as below).

- We are using Pandas to write and read to sqlite. Pandas will manage a lot of the complexity of dealing with a RDB. There are other ways of reading and writing to a RDB that are VERY common and often used in production systems.  

- The most common other way is to read or write to the RDB row by row. As you can see Pandas puts the entire dataframe into the RDB or extracts a new dataframe from the RDB. These are not row by row operations. These are set operations. Set operations ARE more efficient. However, it is common to use row by row operations to avoid needing large memory computers to hold the dataframes. One row only takes a few bytes. An entire dataframe could be many gigabytes and even petabytes of data. Obviously you will end up with problems with your compute resource if your files are this big. This will not happen to you in this activity and may never happen to you while you are a data analyst. Please just be aware of this. 

- This activity is primarily about querying a RDB, so, we are using a simple way that Pandas provides. If you want to learn the more complex way, just google 'reading and wrting to a relational database using python'. There are many resources to learn from.

- The data types that sqlite supports are quite limited. for example, it does not have a DATE type.  This is not a challenge for this project. However, more sophisticated database systems,such as Postgresql, have a large array of data types, such as "DATE", etc. that give those systems additional capability. 

- All of the SQL queries could also be performed on the Pandas DataFrames directly.  You may want to try this yourself for comparison (but make sure you do the SQL queries first, as this is an exercise in using SQL!).


## SQL Magic
Within the Jupyter notebook we will be using something called **SQL Magic**.  This provides a convenient way to write SQL queries directly into code cells in the notebook and to read the results back into a Pandas DataFrame.  This makes working with SQL much easier!

Note that you may need to update your sqlite version using `conda update -c anaconda sqlite` in order for the SQL Magic to work correctly.

## The Data Analysis Lifecycle
The sections in this notebook follow the stages of the Data Analysis Lifecycle introduced in an earlier activity.  The stages are:

- Acquire
- Transform
- Organise
- Analyse
- Communicate
- Maintain

The requirements document for this project is Template SQL queries.xlsx.

# Preliminary Steps: Create a Database
First let's import Sqlite and the other libraries we will need.

In [2]:
# Import Libraries
import numpy as np
import pandas as pd
import sqlite3

### Create the Database
Now we will create the Sqlite database.  Here is some code that does this for you.  We use the `%load_ext` magic command to load the SQL Magic extension and then use `%sql` to connect to the database.

In [3]:
# If the db does not exist, sqlite will create it.
con = sqlite3.connect('chatdata.db')

# loads sql magic
%load_ext sql 

# connects sql magic command to the correct db
%sql sqlite:///chatdata.db

#### Drop the `queries` table if it already exists
The queries table will be our record of the queries created to answer the questions from the requirements spreadsheet.  As we will be running this Jupyter notebook a few times, let's drop (i.e. remove) the queries table so that we start fresh each time.  Here is the code to do this.  We use the `%%sql` magic command to tell Jupyter that we are going to write SQL in the cell.

In [4]:
%%sql
DROP TABLE IF EXISTS 'queries'

 * sqlite:///chatdata.db
Done.

[]

# Task 1: Load the Data
Now we can start loading the data.  The tables will be created as we load the data.  

Note that some of these files are quite large, so make sure you have plenty of free memory!

## Lifecycle Stages: Transform and Organise
The data has already been processed into 3 clean data files ready for this project:

- queries.csv
- posts.csv
- comments.csv

We will load these files into our database.

## Lifecycle Stage: Acquire
The data can be found in the OpenClassrooms instructions for this activity.

### Load Comments Data into a `comments` table
Now we will load the data from the csv files into our sqlite database.

First we load the csv file into a Pandas dataframe:

In [5]:
comments = pd.read_csv('comments.csv')
comments.head()

,Id,PostId,Score,Text,CreationDate,UserId
0,723182,385124,0,@BenBolker I don't understand. The fit cannot ...,2019-01-01 00:06:39,78575
1,723183,385124,3,"You can't add *less* than (`-min(y)`), but you...",2019-01-01 00:09:22,2126
2,723186,385137,0,nice. If you felt like doing the work it would...,2019-01-01 00:32:11,2126
3,723187,385137,0,"i.e. `emdbook::curve3d(-sum(dnbinom(y,mu=mu,si...",2019-01-01 00:40:36,2126
4,723188,385134,0,"Don't you mean ""so variance should be $\sigma^...",2019-01-01 00:41:28,112141

Now take the comments dataframe and push the data into the Sqlite database table called 'comments':

In [6]:
# load comments into sqlite
comments.to_sql('comments', con, if_exists='replace', index=False)

# read back in to prove that it worked
sql = 'SELECT * FROM comments'
comments = pd.read_sql(sql, con)
comments.head()

,Id,PostId,Score,Text,CreationDate,UserId
0,723182,385124,0,@BenBolker I don't understand. The fit cannot ...,2019-01-01 00:06:39,78575
1,723183,385124,3,"You can't add *less* than (`-min(y)`), but you...",2019-01-01 00:09:22,2126
2,723186,385137,0,nice. If you felt like doing the work it would...,2019-01-01 00:32:11,2126
3,723187,385137,0,"i.e. `emdbook::curve3d(-sum(dnbinom(y,mu=mu,si...",2019-01-01 00:40:36,2126
4,723188,385134,0,"Don't you mean ""so variance should be $\sigma^...",2019-01-01 00:41:28,112141

### Load Other CSVs
Now that you have seen the code for loading in the comments.csv now do the same to read and write the posts.csv and users.csv to sqlite. 

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Enter code in the following cells. Insert as many cells as you want to do this.
    </font></div>

In [7]:
posts = pd.read_csv('posts.csv')
posts.head()

,Id,PostTypeId,AcceptedAnswerId,ParentId,CreationDate,Score,ViewCount,Body,OwnerUserId,OwnerDisplayName,...,LastEditorDisplayName,LastEditDate,LastActivityDate,Title,Tags,AnswerCount,CommentCount,FavoriteCount,ClosedDate,CommunityOwnedDate
0,423497,1,423511,0,2019-08-24 09:39:31,2,68,"<p>From wikipedia <a href=""https://en.wikipedi...",64552,NaN,...,NaN,NaN,2019-08-24 11:38:54,When are biased estimators with lower MSE pref...,<bias><unbiased-estimator><mse>,1,0,1,2019-08-25 10:25:24,NaN
1,423498,1,0,0,2019-08-24 09:47:42,1,24,<p>I am currently doing local sensitivity anal...,87231,NaN,...,NaN,2019-09-06 12:52:32,2019-09-06 12:52:32,How to interpret the result from local sensiti...,<sensitivity-analysis><elasticity>,1,0,0,NaN,NaN
2,423499,1,0,0,2019-08-24 09:48:26,1,56,<p>I'm an honours student in psychology doing ...,257207,NaN,...,NaN,NaN,2019-08-25 08:54:17,Power Analysis in G-Power - Mixed Model Anova,<anova><gpower>,2,0,0,NaN,NaN
3,423500,2,0,215865,2019-08-24 09:57:01,0,0,"<p>Maybe you can look this <a href=""https://me...",106606,NaN,...,NaN,NaN,2019-08-24 09:57:01,NaN,NaN,0,0,0,NaN,NaN
4,423502,2,0,423286,2019-08-24 10:44:52,3,0,<blockquote>\n <p>Q1) Is my approach valid?</...,220643,NaN,...,NaN,2019-08-24 12:13:46,2019-08-24 12:13:46,NaN,NaN,0,1,0,NaN,NaN

In [8]:
# load posts into sqlite
posts.to_sql('posts', con, if_exists='replace', index=False)

# read back in to prove that it worked
sql = 'SELECT * FROM posts'
posts = pd.read_sql(sql, con)
posts.head()

,Id,PostTypeId,AcceptedAnswerId,ParentId,CreationDate,Score,ViewCount,Body,OwnerUserId,OwnerDisplayName,...,LastEditorDisplayName,LastEditDate,LastActivityDate,Title,Tags,AnswerCount,CommentCount,FavoriteCount,ClosedDate,CommunityOwnedDate
0,423497,1,423511,0,2019-08-24 09:39:31,2,68,"<p>From wikipedia <a href=""https://en.wikipedi...",64552,None,...,None,None,2019-08-24 11:38:54,When are biased estimators with lower MSE pref...,<bias><unbiased-estimator><mse>,1,0,1,2019-08-25 10:25:24,None
1,423498,1,0,0,2019-08-24 09:47:42,1,24,<p>I am currently doing local sensitivity anal...,87231,None,...,None,2019-09-06 12:52:32,2019-09-06 12:52:32,How to interpret the result from local sensiti...,<sensitivity-analysis><elasticity>,1,0,0,None,None
2,423499,1,0,0,2019-08-24 09:48:26,1,56,<p>I'm an honours student in psychology doing ...,257207,None,...,None,None,2019-08-25 08:54:17,Power Analysis in G-Power - Mixed Model Anova,<anova><gpower>,2,0,0,None,None
3,423500,2,0,215865,2019-08-24 09:57:01,0,0,"<p>Maybe you can look this <a href=""https://me...",106606,None,...,None,None,2019-08-24 09:57:01,None,None,0,0,0,None,None
4,423502,2,0,423286,2019-08-24 10:44:52,3,0,<blockquote>\n <p>Q1) Is my approach valid?</...,220643,None,...,None,2019-08-24 12:13:46,2019-08-24 12:13:46,None,None,0,1,0,None,None

In [9]:
users = pd.read_csv('users.csv')
users.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,ProfileImageUrl,AccountId
0,157607,31,2017-04-17 14:50:42,user157607,2019-07-23 16:44:08,NaN,NaN,NaN,0,0,0,https://www.gravatar.com/avatar/2efb161849efa4...,10705183
1,157656,101,2017-04-17 20:08:20,user102859,2019-06-26 13:42:13,NaN,NaN,NaN,3,0,0,https://i.stack.imgur.com/eY4ka.jpg?s=128&g=1,10567606
2,157704,133,2017-04-18 05:10:47,jupiar,2019-11-25 13:32:27,NaN,"Shanghai, China","<p>Originally from the U.K, I have an Undergra...",1,1,0,https://www.gravatar.com/avatar/720e20205122c5...,9501631
3,157709,155,2017-04-18 06:39:18,farmer,2019-02-17 19:44:24,NaN,NaN,NaN,16,0,0,https://www.gravatar.com/avatar/0f8c4bde3d8f25...,10709837
4,157755,101,2017-04-18 12:56:17,Miki P,2019-08-12 17:02:21,NaN,NaN,NaN,1,9,0,https://www.gravatar.com/avatar/af088558cd81c5...,7969290

In [10]:
# load users into sqlite
users.to_sql('users', con, if_exists='replace', index=False)

# read back in to prove that it worked
sql = 'SELECT * FROM users'
users = pd.read_sql(sql, con)
users.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,ProfileImageUrl,AccountId
0,157607,31,2017-04-17 14:50:42,user157607,2019-07-23 16:44:08,None,None,None,0,0,0,https://www.gravatar.com/avatar/2efb161849efa4...,10705183
1,157656,101,2017-04-17 20:08:20,user102859,2019-06-26 13:42:13,None,None,None,3,0,0,https://i.stack.imgur.com/eY4ka.jpg?s=128&g=1,10567606
2,157704,133,2017-04-18 05:10:47,jupiar,2019-11-25 13:32:27,None,"Shanghai, China","<p>Originally from the U.K, I have an Undergra...",1,1,0,https://www.gravatar.com/avatar/720e20205122c5...,9501631
3,157709,155,2017-04-18 06:39:18,farmer,2019-02-17 19:44:24,None,None,None,16,0,0,https://www.gravatar.com/avatar/0f8c4bde3d8f25...,10709837
4,157755,101,2017-04-18 12:56:17,Miki P,2019-08-12 17:02:21,None,None,None,1,9,0,https://www.gravatar.com/avatar/af088558cd81c5...,7969290

### **TODO**: Drop Duplicates
Look for and drop any duplicates in all 3 of the tables (if they exist). Use Pandas to do this. If you find duplicates, you will need to rewrite the table.

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Enter code in the following cells. 
    </font></div>

In [11]:
users[users.duplicated(keep=False)]

Empty DataFrame
Columns: [Id, Reputation, CreationDate, DisplayName, LastAccessDate, WebsiteUrl, Location, AboutMe, Views, UpVotes, DownVotes, ProfileImageUrl, AccountId]
Index: []

In [12]:
posts[posts.duplicated(keep=False)]

Empty DataFrame
Columns: [Id, PostTypeId, AcceptedAnswerId, ParentId, CreationDate, Score, ViewCount, Body, OwnerUserId, OwnerDisplayName, LastEditorUserId, LastEditorDisplayName, LastEditDate, LastActivityDate, Title, Tags, AnswerCount, CommentCount, FavoriteCount, ClosedDate, CommunityOwnedDate]
Index: []

[0 rows x 21 columns]

In [13]:
comments[comments.duplicated(keep=False)]

Empty DataFrame
Columns: [Id, PostId, Score, Text, CreationDate, UserId]
Index: []

## Review the Data

Spend some time reviewing the data.  Understand what data we have, think about how that data can be used to assist in the initiative of understanding how ChatData is used in the real world.  Is the data organised in a way that would lend itself to being manged in a relational database?  How would the different tables be connected?  What are the primary and foreign keys?  Would this give you a 3NF model?

Also think about security and ethics.  Is there personal data in here?  Could individuals be identified through this data?  It it ethical to use the data in this way?  You will be asked to comment on these questions later!

Use the code below to help you.

In [14]:
users.columns

Index(['Id', 'Reputation', 'CreationDate', 'DisplayName', 'LastAccessDate',
       'WebsiteUrl', 'Location', 'AboutMe', 'Views', 'UpVotes', 'DownVotes',
       'ProfileImageUrl', 'AccountId'],
      dtype='object')

In [15]:
users.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,ProfileImageUrl,AccountId
0,157607,31,2017-04-17 14:50:42,user157607,2019-07-23 16:44:08,None,None,None,0,0,0,https://www.gravatar.com/avatar/2efb161849efa4...,10705183
1,157656,101,2017-04-17 20:08:20,user102859,2019-06-26 13:42:13,None,None,None,3,0,0,https://i.stack.imgur.com/eY4ka.jpg?s=128&g=1,10567606
2,157704,133,2017-04-18 05:10:47,jupiar,2019-11-25 13:32:27,None,"Shanghai, China","<p>Originally from the U.K, I have an Undergra...",1,1,0,https://www.gravatar.com/avatar/720e20205122c5...,9501631
3,157709,155,2017-04-18 06:39:18,farmer,2019-02-17 19:44:24,None,None,None,16,0,0,https://www.gravatar.com/avatar/0f8c4bde3d8f25...,10709837
4,157755,101,2017-04-18 12:56:17,Miki P,2019-08-12 17:02:21,None,None,None,1,9,0,https://www.gravatar.com/avatar/af088558cd81c5...,7969290

In [16]:
comments.columns

Index(['Id', 'PostId', 'Score', 'Text', 'CreationDate', 'UserId'], dtype='object')

In [17]:
comments.head()

,Id,PostId,Score,Text,CreationDate,UserId
0,723182,385124,0,@BenBolker I don't understand. The fit cannot ...,2019-01-01 00:06:39,78575
1,723183,385124,3,"You can't add *less* than (`-min(y)`), but you...",2019-01-01 00:09:22,2126
2,723186,385137,0,nice. If you felt like doing the work it would...,2019-01-01 00:32:11,2126
3,723187,385137,0,"i.e. `emdbook::curve3d(-sum(dnbinom(y,mu=mu,si...",2019-01-01 00:40:36,2126
4,723188,385134,0,"Don't you mean ""so variance should be $\sigma^...",2019-01-01 00:41:28,112141

In [18]:
posts.columns

Index(['Id', 'PostTypeId', 'AcceptedAnswerId', 'ParentId', 'CreationDate',
       'Score', 'ViewCount', 'Body', 'OwnerUserId', 'OwnerDisplayName',
       'LastEditorUserId', 'LastEditorDisplayName', 'LastEditDate',
       'LastActivityDate', 'Title', 'Tags', 'AnswerCount', 'CommentCount',
       'FavoriteCount', 'ClosedDate', 'CommunityOwnedDate'],
      dtype='object')

In [19]:
posts.head()

,Id,PostTypeId,AcceptedAnswerId,ParentId,CreationDate,Score,ViewCount,Body,OwnerUserId,OwnerDisplayName,...,LastEditorDisplayName,LastEditDate,LastActivityDate,Title,Tags,AnswerCount,CommentCount,FavoriteCount,ClosedDate,CommunityOwnedDate
0,423497,1,423511,0,2019-08-24 09:39:31,2,68,"<p>From wikipedia <a href=""https://en.wikipedi...",64552,None,...,None,None,2019-08-24 11:38:54,When are biased estimators with lower MSE pref...,<bias><unbiased-estimator><mse>,1,0,1,2019-08-25 10:25:24,None
1,423498,1,0,0,2019-08-24 09:47:42,1,24,<p>I am currently doing local sensitivity anal...,87231,None,...,None,2019-09-06 12:52:32,2019-09-06 12:52:32,How to interpret the result from local sensiti...,<sensitivity-analysis><elasticity>,1,0,0,None,None
2,423499,1,0,0,2019-08-24 09:48:26,1,56,<p>I'm an honours student in psychology doing ...,257207,None,...,None,None,2019-08-25 08:54:17,Power Analysis in G-Power - Mixed Model Anova,<anova><gpower>,2,0,0,None,None
3,423500,2,0,215865,2019-08-24 09:57:01,0,0,"<p>Maybe you can look this <a href=""https://me...",106606,None,...,None,None,2019-08-24 09:57:01,None,None,0,0,0,None,None
4,423502,2,0,423286,2019-08-24 10:44:52,3,0,<blockquote>\n <p>Q1) Is my approach valid?</...,220643,None,...,None,2019-08-24 12:13:46,2019-08-24 12:13:46,None,None,0,1,0,None,None

# Working with Sqlite and SQL Magic
In this section let's spend a little time understanding a bit more about how we can work with Sqlite within Jupyter.

Let's look at 2 ways to query the sqlite database: using SQL Magic or using Pandas.  Either way is fine for this project.

## Writing queries with SQL Magic

You will now need to write some queries to get answers to the questions in the requirements.  

For single-line queries, start the cell with `%sql` and simply enter your query:

In [20]:
# This is an example
%sql SELECT COUNT(*) FROM comments

 * sqlite:///chatdata.db
Done.

[(50000,)]

For multi line sql statements use `%%sql` as follows. This tells Jupyter that *everything* in this cell should be interpreted as sql. So, NO comments other statements are allowed:

In [21]:
%%sql
SELECT Id, PostId, Score, Text
    FROM comments
        LIMIT 5

 * sqlite:///chatdata.db
Done.

[(723182, 385124, 0, '@BenBolker I don\'t understand. The fit cannot be done for the negative $y$. So intuitively I\'d think that in order to retain the relativity of the  ... (24 characters truncated) ... rror" or "flip" it to the positive axis? Would it be possible to adjust every point individually? Basically e.g. take $abs(y_i)$ instead of minimums.'),
 (723183, 385124, 3, "You can't add *less* than (`-min(y)`), but you could add *more*. I'm going to stop answering now sorry, because **judging what the 'best' approach is ... (60 characters truncated) ...  of the analysis, why you need to fit an exponential, your level of computational and statistical sophistication and that of your audience, etc. ...)"),
 (723186, 385137, 0, 'nice. If you felt like doing the work it would be nice to generate an image/contour plot of log-likelihood as a function of (mu, theta) and show the lines corresponding to the two `size` values .'),
 (723187, 385137, 0, 'i.e. `emdbook::curve3d(-sum(dnbinom(y,mu=mu,size=size,log=TRUE)),\n                 xlim=c(2,5),ylim=c(0.2,0.5),\n                 varnames=c("mu","s ... (57 characters truncated) ... ,col="red")\nabline(h=fit.what$theta,col="blue")\n` ... although doesn\'t look this is actually the answer - mu-hat is independent of theta-hat ... ?'),
 (723188, 385134, 0, 'Don\'t you mean "so variance should be $\\sigma^2/(n\\mu^2)$"')]

## Writing queries with Pandas
Another way to write queries is to use pandas:

In [22]:
sql = """
SELECT Id, PostId, Score, Text
    FROM comments
        LIMIT 5
        """
result = pd.read_sql(sql, con)
result

       Id  PostId  Score                                               Text
0  723182  385124      0  @BenBolker I don't understand. The fit cannot ...
1  723183  385124      3  You can't add *less* than (`-min(y)`), but you...
2  723186  385137      0  nice. If you felt like doing the work it would...
3  723187  385137      0  i.e. `emdbook::curve3d(-sum(dnbinom(y,mu=mu,si...
4  723188  385134      0  Don't you mean "so variance should be $\sigma^...

# Creating Tables with Referential Integrity

When we loaded the csv files into Sqlite database tables, Sqlite created the tables for us behind the scenes. Let's inspect this a bit more.

We can see how Sqlite created the tables by querying the `sqlite_master` table, which Sqlite uses to keep track of what objects have been created in the database:

In [23]:
%%sql
select sql from sqlite_master

 * sqlite:///chatdata.db
Done.

[('CREATE TABLE "comments" (\n"Id" INTEGER,\n  "PostId" INTEGER,\n  "Score" INTEGER,\n  "Text" TEXT,\n  "CreationDate" TEXT,\n  "UserId" INTEGER\n)',),
 ('CREATE TABLE "posts" (\n"Id" INTEGER,\n  "PostTypeId" INTEGER,\n  "AcceptedAnswerId" INTEGER,\n  "ParentId" INTEGER,\n  "CreationDate" TEXT,\n  "Scor ... (240 characters truncated) ...   "Tags" TEXT,\n  "AnswerCount" INTEGER,\n  "CommentCount" INTEGER,\n  "FavoriteCount" INTEGER,\n  "ClosedDate" TEXT,\n  "CommunityOwnedDate" TEXT\n)',),
 ('CREATE TABLE "users" (\n"Id" INTEGER,\n  "Reputation" INTEGER,\n  "CreationDate" TEXT,\n  "DisplayName" TEXT,\n  "LastAccessDate" TEXT,\n  "WebsiteUr ... (17 characters truncated) ... tion" TEXT,\n  "AboutMe" TEXT,\n  "Views" INTEGER,\n  "UpVotes" INTEGER,\n  "DownVotes" INTEGER,\n  "ProfileImageUrl" TEXT,\n  "AccountId" INTEGER\n)',)]

The above results show the `CREATE TABLE` statements that could be used by Sqlite to recreate the tables with the exact same structure.

The problem with the CREATE TABLE statements above is that they don't enforce **referential integrity**.  In other words, they don't ensure that every UserId and PostId in the comments table refers to an actual UserId and PostId in the users and posts tables.  At the moment. we can insert any old number here, and even have multiple users with the same Id!  One of the advantages of working with relational databases is that they can enforce the correct uniqueness and relationships in the data, but at the moment we are not using that feature.  So let's fix that...

First, let's drop the original tables:

In [24]:
%%sql
DROP TABLE comments;
DROP TABLE users;
DROP TABLE posts;

 * sqlite:///chatdata.db
Done.
Done.
Done.

[]

Prove that this worked by selecting the names of the tables back.  We should have no tables:

In [25]:
%%sql
SELECT name FROM sqlite_master WHERE type='table'
    ORDER BY name

 * sqlite:///chatdata.db
Done.

[]

In Sqlite we need to enable the enforcement of foreign key constraints:

In [26]:
%%sql
PRAGMA foreign_keys=ON;

 * sqlite:///chatdata.db
Done.

[]

Now recreate the users table with a **primary key constraint** by copying the CREATE TABLE statement from above and adding the NOT NULL PRIMARY KEY clause to the Id:

In [27]:
%%sql
CREATE TABLE "users" (
"Id" INTEGER NOT NULL PRIMARY KEY,
"Reputation" INTEGER,
"CreationDate" TEXT,
"DisplayName" TEXT,
"LastAccessDate" TEXT,
"WebsiteUrl" TEXT,
"Location" TEXT,
"AboutMe" TEXT,
"Views" INTEGER,
"UpVotes" INTEGER,
"DownVotes" INTEGER,
"ProfileImageUrl" TEXT,
"AccountId" INTEGER
);

 * sqlite:///chatdata.db
Done.

[]

Now do the same for the posts table:

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Complete the following code cell
    </font></div>

In [28]:
%%sql
CREATE TABLE "posts" (
"Id" INTEGER NOT NULL PRIMARY KEY,
"PostTypeId" INTEGER,
"AcceptedAnswerId" INTEGER,
"ParentId" INTEGER,
"CreationDate" TEXT,
"Score" INTEGER,
"ViewCount" INTEGER,
"Body" TEXT,
"OwnerUserId" INTEGER,
"OwnerDisplayName" TEXT,
"LastEditorUserId" INTEGER,
"LastEditorDisplayName" TEXT,
"LastEditDate" TEXT,
"LastActivityDate" TEXT,
"Title" TEXT,
"Tags" TEXT,
"AnswerCount" INTEGER,
"CommentCount" INTEGER,
"FavoriteCount" INTEGER,
"ClosedDate" TEXT,
"CommunityOwnedDate" TEXT
);

 * sqlite:///chatdata.db
Done.

[]

Now for the comments table.  We need to add the primary key constraint on the id here as we did for users and posts, but we also need to add FOREIGN KEY constraints on the UserId and PostId. Read the documentation here and find our how to do that: https://www.sqlite.org/foreignkeys.html.  Then create the comments table with the correct constraints:

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Complete the following code cell
    </font></div>

In [29]:
%%sql
CREATE TABLE "comments" (
"Id" INTEGER NOT NULL PRIMARY KEY,
"PostId" INTEGER,
"Score" INTEGER,
"Text" TEXT,
"CreationDate" TEXT,
"UserId" INTEGER,
FOREIGN KEY("UserId") REFERENCES users("Id")
FOREIGN KEY("PostId") REFERENCES posts("Id")
);

 * sqlite:///chatdata.db
Done.

[]

Now we can re-insert the data into these constrained tables.  First users:

In [30]:
# Insert data into the new users table
users.to_sql('users', con, if_exists='append', index=False)

18412

Now posts:

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Complete the following code cell
    </font></div>

In [31]:
# Insert data into the new posts table
posts.to_sql('posts', con, if_exists='append', index=False)

42234

Finally comments, which references the users and posts tables:

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Complete the following code cell
    </font></div>

In [32]:
# Insert data into the new comments table
comments.to_sql('comments', con, if_exists='append', index=False)

50000

Now check that we have the 3 new table definitions in Sqlite:

In [33]:
%%sql
SELECT name FROM sqlite_master WHERE type='table'
    ORDER BY name

 * sqlite:///chatdata.db
Done.

[('comments',), ('posts',), ('users',)]

We now have all the data in tables in Sqlite and the tables will enforce the referential integrity.

# Example Query and Pattern for Tasks 2 and 3

As you work through the next tasks, you will need to:

1. Prepare the Sqlite query to answer the question
2. Test it
3. Insert it into the `queries` table, so we have a record of it for others.

This is the process that we want you to follow for this project while completing it.

Let's see an example of this by answering the following question:

**Which 5 users have viewed the most times and what is the sum of those views per user?**

## Prepare the Sqlite query

First, let's write the query:

In [34]:
sql = """
SELECT Id, SUM(Views) AS TotalViews
    FROM Users
        GROUP BY Id
            ORDER BY TotalViews DESC
                LIMIT 5
                """
result = pd.read_sql(sql, con) # con is the connection to the database
result

     Id  TotalViews
0   919       85180
1  4253       35119
2   805       34637
3  7290       32639
4  3277       29255

## Test the query
You can optionally prove the query worked by performing the same query in Pandas:

In [35]:
results = users.groupby(['Id']).sum().sort_values('Views', ascending = False)[:5]
results['Views']

Id
919     85180
4253    35119
805     34637
7290    32639
3277    29255
Name: Views, dtype: int64

## Insert the query into the `queries` table
Now we need to put this query into the `queries` table in sqlite. Remember we want these queries to be accessible to everybody that should have access to them. We do not want people writing and rewriting the same queires over and over again. The easiest thing to do is create a dictionary with the values and insert these into the queries table.  Note that the values are provided as lists as we are inserting a list of values (i.e. a number of rows) into the table.  In this case the number of rows is 1, so we have lists of 1 item.

So here, we have a column called 'task' with a list of values, a column called 'action' with a list of values, etc.

In [36]:
query_dict = {
              'task': ['Single Table Queries'],
              'action': ['Which 5 users have viewed the most times and what is the sum of those views per user?'],
              'query': [sql]
             }
query_dict

{'task': ['Single Table Queries'],
 'action': ['Which 5 users have viewed the most times and what is the sum of those views per user?'],
 'query': ['\nSELECT Id, SUM(Views) AS TotalViews\n    FROM Users\n        GROUP BY Id\n            ORDER BY TotalViews DESC\n                LIMIT 5\n                ']}

Now that you have the data structure (query_dict) containing the data, create a pandas dataframe that holds those values:

In [37]:
queries = pd.DataFrame(query_dict)
queries

,task,action,query
0,Single Table Queries,Which 5 users have viewed the most times and w...,"\nSELECT Id, SUM(Views) AS TotalViews\n FRO..."

Now load that pandas dataframe (queries) into the sqlite table called queries. In this case, you use append NOT replace. You will be adding to this tables as you go thru this project.

In [38]:
# load query into sqlite
queries.to_sql('queries', con, if_exists='append', index=False)

# read back in to prove that it worked
sql = 'SELECT * FROM queries'
queries = pd.read_sql(sql, con)
queries.head()

,task,action,query
0,Single Table Queries,Which 5 users have viewed the most times and w...,"\nSELECT Id, SUM(Views) AS TotalViews\n FRO..."

It is likely that as you iterate thru this notebook you will create some duplicate entries in the query table. Not a big deal. Just tell sql or pandas (much easier in pandas) to drop the duplicates! If you drop the duplicates in Pandas you will have to write the entire dataframe back to sqlite. Otherwise it is changed in memory in Pandas but NOT in sqlite on the disk drive (or SDD). Just do this drop at the end of this notebook so that you are not constantly dealing with this.

So, to summarise, as you go through the following tasks you need to:

- answer the question in sql
- prove it in pandas (if you want to)
- put the query into the queries table

# Task 1 (continued): Insert the CREATE TABLE Statements into the `queries` Table

Now that we understand how to populate the `queries` table, let's insert the CREATE TABLE statements into it.  First let's define a function to help us insert into the queries table:

In [39]:
# Define a function that will insert into the queries table
def store_query(task, action, query):
    query_dict = {
                  'task': [task],
                  'action': [action],
                  'query': [query]
                 }

    # put query into the query_dict
    queries = pd.DataFrame(query_dict)

    # load query into sqlite
    queries.to_sql('queries', con, if_exists='append', index=False)

Now we can specify the queries and call the above function to store them.  The first one is done for you.

In [40]:
sql = """
    CREATE TABLE "comments" (
    "Id" INTEGER,
    "PostId" INTEGER,
    "Score" INTEGER,
    "Text" TEXT,
    "CreationDate" TEXT,
    "UserId" INTEGER
    )
    """
store_query("Task 1", "Create table comments", sql)

Let's prove it works by selecting back from the queries table:

In [41]:
# Prove it works
%sql SELECT * FROM queries

 * sqlite:///chatdata.db
Done.

[('Single Table Queries', 'Which 5 users have viewed the most times and what is the sum of those views per user?', '\nSELECT Id, SUM(Views) AS TotalViews\n    FROM Users\n        GROUP BY Id\n            ORDER BY TotalViews DESC\n                LIMIT 5\n                '),
 ('Task 1', 'Create table comments', '\n    CREATE TABLE "comments" (\n    "Id" INTEGER,\n    "PostId" INTEGER,\n    "Score" INTEGER,\n    "Text" TEXT,\n    "CreationDate" TEXT,\n    "UserId" INTEGER\n    )\n    ')]

## Insert the other CREATE TABLE statements into the `queries` table.
Follow the above pattern to complete these code cells:

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Complete the following code cells
    </font></div>

In [42]:
# Insert the CREATE TABLE for posts into the queries table
sql = """
CREATE TABLE "posts" (
"Id" INTEGER NOT NULL PRIMARY KEY,
"PostTypeId" INTEGER,
"AcceptedAnswerId" INTEGER,
"ParentId" INTEGER,
"CreationDate" TEXT,
"Score" INTEGER,
"ViewCount" INTEGER,
"Body" TEXT,
"OwnerUserId" INTEGER,
"OwnerDisplayName" TEXT,
"LastEditorUserId" INTEGER,
"LastEditorDisplayName" TEXT,
"LastEditDate" TEXT,
"LastActivityDate" TEXT,
"Title" TEXT,
"Tags" TEXT,
"AnswerCount" INTEGER,
"CommentCount" INTEGER,
"FavoriteCount" INTEGER,
"ClosedDate" TEXT,
"CommunityOwnedDate" TEXT
);
"""
store_query("Task 1", "Create table posts", sql)

In [43]:
# Insert the CREATE TABLE for users into the queries table
sql = """
CREATE TABLE "users" (
"Id" INTEGER NOT NULL PRIMARY KEY,
"Reputation" INTEGER,
"CreationDate" TEXT,
"DisplayName" TEXT,
"LastAccessDate" TEXT,
"WebsiteUrl" TEXT,
"Location" TEXT,
"AboutMe" TEXT,
"Views" INTEGER,
"UpVotes" INTEGER,
"DownVotes" INTEGER,
"ProfileImageUrl" TEXT,
"AccountId" INTEGER
);
"""
store_query("Task 1", "Create table users", sql)

## Count the Number of Rows in Each Table
Run some queries to count the number of rows in each of the tables.  Don't forget to insert the query into the queries table.

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Complete the following code cells
    </font></div>

In [44]:
# Count the number of rows in the comments table
%sql SELECT COUNT(*) FROM comments;

 * sqlite:///chatdata.db
Done.

[(50000,)]

In [45]:
sql = "SELECT COUNT(*) FROM comments;"
store_query("Task 1", "Count rows in comments table", sql)

In [46]:
# Count the number of rows in the users table
%sql SELECT COUNT(*) FROM users;

 * sqlite:///chatdata.db
Done.

[(18412,)]

In [47]:
sql = "SELECT COUNT(*) FROM users;"
store_query("Task 1", "Count rows in users table", sql)

In [48]:
# Count the number of rows in the posts table
%sql SELECT COUNT(*) FROM posts;

 * sqlite:///chatdata.db
Done.

[(42234,)]

In [49]:
sql = "SELECT COUNT(*) FROM posts;"
store_query("Task 1", "Count rows in posts table", sql)

## Do some Random Checks on the Data
Let's write some queries that select 5 random rows from each table.  The queries are provided here:

    select * from Comments order by random() limit 5;
    select * from Users order by random() limit 5;
    select * from Posts order by random() limit 5;

Enter the queries into the code cells below and insert the queries into the `queries` table in the same was as you did for the CREATE TABLE statements.

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Complete the following code cells
    </font></div>

In [50]:
# Run the query to select 5 random rows from the posts table
%sql select * from Posts order by random() limit 5;

 * sqlite:///chatdata.db
Done.

[(433038, 1, 0, 0, '2019-10-25 00:37:16', 0, 12, '<p>Been reading Murphy and other books and trying to understand conditional independent statements of a graph: <span class="math-container">$I(G)$</s ... (1020 characters truncated) ...  \\perp x_b$</span>?</p>\n\n<p>Or do CI statements only include statements such that <span class="math-container">$x_c$</span> cannot be empty?</p>\n', 234463, None, 234463, None, '2019-10-25 00:50:33', '2019-10-25 00:50:33', 'Do Conditional Independence Statements in Probabilistic Graphical Models Include Independence Statements?', '<conditional-probability><graphical-model>', 0, 0, 0, None, None),
 (417075, 2, 0, 417033, '2019-07-12 03:43:06', 1, 0, '<p>Your comment makes it sound like you will:</p>\n\n<ul>\n<li>Model each category as binomial, and </li>\n<li>Construct confidence intervals for eac ... (2844 characters truncated) ... /pre>\n\n<p>I\'m not sure what you are using to compute the confidence regions, but if you are using R, there is likely a package to do this.  </p>\n', 111259, None, 0, None, None, '2019-07-12 03:43:06', None, None, 0, 2, 0, None, None),
 (405626, 1, 0, 0, '2019-04-29 10:23:27', 0, 56, '<p>I am having some trouble interpreting my regression output. My model is LN of transaction volume = alpha + <span class="math-container">$\\beta_1$ ... (703 characters truncated) ... that correct?\nI have just very confused because I am interpreting a change in a change and am unsure how to deal with the coefficient.</li>\n</ul>\n', 246321, None, 128677, None, '2019-04-29 14:33:41', '2019-04-29 14:33:41', 'How to interpret coefficient when the dependent variable is a percentage change?', '<regression><interpretation><percentage><log>', 0, 2, 0, None, None),
 (410258, 1, 0, 0, '2019-05-27 09:17:16', 0, 16, '<p>At the moment I want to perform a mediated regression analysis using PROCESS. My Independent value (IV), Dependent value (DV) and Mediator (M) are ... (865 characters truncated) ... ut does not talk about the controle variables and how to put that in process.</li>\n</ul>\n\n<p>I hope you can help me.</p>\n\n<p>Kind regards,</p>\n', 249172, None, 0, None, None, '2019-05-27 09:17:16', 'Categorical control variables PROCESS', '<regression><categorical-encoding>', 0, 0, 0, None, None),
 (408395, 2, 0, 408247, '2019-05-14 23:00:35', 1, 0, '<p>Here\'s one way that the second condition could fail to hold.</p>\n\n<p>First, consider that <span class="math-container">$X\'$</span> is an instr ... (1793 characters truncated) ... control for, there will always be an association between <span class="math-container">$X\'$</span> and <span class="math-container">$Z$</span>.</p>\n', 116195, None, 0, None, None, '2019-05-14 23:00:35', None, None, 0, 0, 0, None, None)]

In [51]:
sql = "select * from Posts order by random() limit 5;"
store_query("Task 1", "Select 5 random rows from posts table", sql)

In [52]:
# Run the query to select 5 random rows from the comments table
%sql select * from Comments order by random() limit 5;

 * sqlite:///chatdata.db
Done.

[(725895, 386541, 0, 'Yes, but in a mixture model you will usually only observe the $x$s.  The rest are unobserved "latent variables" which are effectively parameter values that you infer via Bayes theorem.', '2019-01-10 13:36:49', 173082),
 (750883, 129954, 0, 'When sample size>5000, run `shapiro.test` in R will get error `sample size must be between 3 and 5000`.Then, what else test should be used?', '2019-04-04 09:25:33', 163314),
 (742061, 395611, 1, 'Neighbors, not clusters.', '2019-03-05 07:08:42', 7828),
 (741951, 340799, 0, 'try using Particle filter with Gaussian process measurement model. It should work fine.\n\nCheck my thesis. https://aaltodoc.aalto.fi/handle/123456789/35513', '2019-03-04 19:46:39', 92906),
 (733307, 390524, 0, '1. The negative binomial is discrete; if you were considering the normal, presumably your variable is continuous. $\\,$ 2.  How are you dealing with the fact that such times are often censored?', '2019-02-03 05:35:03', 805)]

In [53]:
sql = "select * from Comments order by random() limit 5;"
store_query("Task 1", "Select 5 random rows from comments table", sql)

In [54]:
# Run the query to select 5 random rows from the users table
%sql select * from Users order by random() limit 5;

 * sqlite:///chatdata.db
Done.

[(25741, 1009, '2013-05-16 17:24:21', 'Martin Thoma', '2019-11-28 14:31:57', 'http://www.martin-thoma.de', 'München, Deutschland', '<p>I also have a blog about <a href="http://martin-thoma.com" rel="nofollow noreferrer">Code, the Web and Cyberculture</a> and a <a href="http://care ... (397 characters truncated) ... , <a href="/questions/tagged/data-analysis" class="post-tag" title="show questions tagged &#39;data-analysis&#39;" rel="tag">data-analysis</a>.</p>\n', 401, 44, 7, None, 271958),
 (266944, 121, '2019-11-26 21:28:28', 'zim333311', '2019-12-01 03:37:52', None, None, None, 1, 0, 0, 'https://www.gravatar.com/avatar/698aed5d850937365af339fbcb9d06da?s=128&d=identicon&r=PG', 412119),
 (252316, 103, '2019-06-29 17:33:04', 'WolfgangP', '2019-10-15 04:05:18', None, 'Boston, Massachusetts, USA', None, 0, 1, 0, 'https://www.gravatar.com/avatar/75cd821af1d77539a3fe6e34cb2b45c9?s=128&d=identicon&r=PG', 33697),
 (262231, 111, '2019-10-10 10:59:12', 'Andreas T', '2019-10-18 05:24:06', None, None, None, 0, 0, 0, 'https://www.gravatar.com/avatar/69f90ea46a8896e7435cd259e018adb9?s=128&d=identicon&r=PG', 1799456),
 (603, 20005, '2010-07-29 15:38:09', 'user603', '2019-11-30 21:02:46', 'https://www.researchgate.net/profile/Kaveh_Vakili/?ev=hdr_xprf', 'Leuven, Belgium', '<blockquote>\n  <p>[...] from this point of view, when you contemplate what to do about\n  outliers, you’re like Marlow, in “Heart of Darkness,” when ... (220 characters truncated) ... inviting, grand, mean, insipid, or savage, and always mute\n    with an air of whispering, ‘Come and find out.’</p>\n  </blockquote>\n</blockquote>\n', 3166, 1325, 97, None, 63945)]

In [55]:
sql = "select * from Users order by random() limit 5;"
store_query("Task 1", "Select 5 random rows from users table", sql)

# Task 2: Create Single Table Queries

## Lifecycle Stage: Analyze
We can now start the analysis with our single-table queries.  First we need to create a new computed column to help with one of the queries.  The code below creates a column called LEN_BODY which is the length of the BODY text:

In [56]:
%%sql
ALTER TABLE POSTS ADD COLUMN LEN_BODY INT

 * sqlite:///chatdata.db
Done.

[]

In [57]:
%%sql
UPDATE POSTS SET LEN_BODY = LENGTH(BODY)

 * sqlite:///chatdata.db
42234 rows affected.

[]

### Single Table Queries
From the Template SQL Queries there are a series of queries requested. You are responsible for coding the result. Use the pattern above to accomplish the coding objective.  Copy and paste the question (column B Action) into a markdown cell and answer the query. Use the pattern that you have been using above. 

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Enter your code below.  Just keep on inserting cells as you need them.
    </font></div>

How many posts have 0 comments?

In [58]:
%%sql
SELECT 
    COUNT(p.commentcount) AS zero_comment_count 
FROM 
    posts AS p 
WHERE 
    p.commentcount = 0;

 * sqlite:///chatdata.db
Done.

[(21713,)]

In [59]:
sql = """SELECT 
    COUNT(p.commentcount) AS zero_comment_count 
FROM 
    posts AS p 
WHERE 
    p.commentcount = 0;"""
store_query("Task 2", "How many posts have 0 comments?", sql)

How many posts have 1 comments?

In [60]:
%%sql
SELECT 
    COUNT(p.commentcount) AS one_comment_count 
FROM 
    posts AS p 
WHERE 
    p.commentcount = 1;

 * sqlite:///chatdata.db
Done.

[(6460,)]

In [61]:
sql = """SELECT 
    COUNT(p.commentcount) AS one_comment_count 
FROM 
    posts AS p 
WHERE 
    p.commentcount = 1;"""
store_query("Task 2", "How many posts have 1 comments?", sql)

How many posts have 2 comments or more?

In [62]:
%%sql
SELECT 
    COUNT(commentcount) AS two_plus_comments_count 
FROM 
    posts AS p 
WHERE 
    p.commentcount >= 2;

 * sqlite:///chatdata.db
Done.

[(14061,)]

In [63]:
sql = """SELECT 
    COUNT(commentcount) AS two_plus_comments_count 
FROM 
    posts AS p 
WHERE 
    p.commentcount >= 2;"""
store_query("Task 2", "How many posts have 2 comments or more?", sql)

Find the 5 posts with the highest viewcount

In [64]:
%%sql
SELECT 
    p.id, 
    p.viewcount
FROM 
    posts AS p 
ORDER BY 
    p.viewcount DESC 
LIMIT 
    5;

 * sqlite:///chatdata.db
Done.

[(388566, 19542),
 (394118, 16317),
 (431370, 11723),
 (398646, 9850),
 (434128, 6718)]

In [65]:
sql = """SELECT 
    p.id, 
    p.viewcount
FROM 
    posts AS p 
ORDER BY 
    p.viewcount DESC 
LIMIT 
    5;"""
store_query("Task 2", "Find the 5 posts with the highest viewcount", sql)

Find the top 5 posts with the highest scores

In [66]:
%%sql
SELECT 
    p.id, 
    p.score 
FROM 
    posts AS p 
ORDER BY 
    p.score DESC 
LIMIT 
    5;

 * sqlite:///chatdata.db
Done.

[(431397, 101), (394128, 100), (426878, 93), (388578, 80), (431370, 77)]

In [67]:
sql = """SELECT 
    p.id, 
    p.score 
FROM 
    posts AS p 
ORDER BY 
    p.score DESC 
LIMIT 
    5;"""
store_query("Task 2", "Find the top 5 posts with the highest scores", sql)

What are the 5 most frequent scores on posts?

In [68]:
%%sql
SELECT 
    p.score, 
    COUNT(p.score) AS score_count 
FROM 
    posts AS p 
GROUP BY 
    p.score 
ORDER BY 
    COUNT(p.score) DESC 
LIMIT 
    5;

 * sqlite:///chatdata.db
Done.

[(0, 19888), (1, 11867), (2, 5094), (3, 2228), (4, 1059)]

In [69]:
sql = """SELECT 
    p.score, 
    COUNT(p.score) AS score_count 
FROM 
    posts AS p 
GROUP BY 
    p.score 
ORDER BY 
    COUNT(p.score) DESC 
LIMIT 
    5;"""
store_query("Task 2", "What are the 5 most frequent scores on posts?", sql)

How many posts have the keyword "data" in their tags?

In [70]:
%%sql
SELECT 
    COUNT(tags) AS tag_contains_data_keyword 
FROM 
    posts AS p 
WHERE 
    lower(p.tags) LIKE "%data%";

 * sqlite:///chatdata.db
Done.

[(2242,)]

In [71]:
sql = """SELECT 
    COUNT(tags) AS tag_contains_data_keyword 
FROM 
    posts AS p 
WHERE 
    lower(p.tags) LIKE "%data%";"""
store_query("Task 2", "How many posts have the keyword data in their tags?", sql)

What are the 5 most frequent commentcount for posts?

In [72]:
%%sql
SELECT 
    p.commentcount, 
    COUNT(p.commentcount) AS commentcount_count 
FROM 
    posts AS p 
GROUP BY 
    p.commentcount 
ORDER BY 
    COUNT(p.commentcount) DESC 
LIMIT 
    5;

 * sqlite:///chatdata.db
Done.

[(0, 21713), (1, 6460), (2, 4966), (3, 3063), (4, 2026)]

In [73]:
sql = """SELECT 
    p.commentcount, 
    COUNT(p.commentcount) AS commentcount_count 
FROM 
    posts AS p 
GROUP BY 
    p.commentcount 
ORDER BY 
    COUNT(p.commentcount) DESC 
LIMIT 
    5;"""
store_query("Task 2", "What are the 5 most frequent commentcount for posts?", sql)

How many posts have an accepted answer?

In [74]:
%%sql
SELECT 
    COUNT(p.acceptedanswerid) AS accepted_answer_count 
FROM 
    posts AS p 
WHERE 
    p.acceptedanswerid != 0;

 * sqlite:///chatdata.db
Done.

[(5341,)]

In [75]:
sql = """SELECT 
    COUNT(p.acceptedanswerid) AS accepted_answer_count 
FROM 
    posts AS p 
WHERE 
    p.acceptedanswerid != 0;"""
store_query("Task 2", "How many posts have an accepted answer?", sql)

What is the average reputation of table users?

In [76]:
%%sql
SELECT 
    AVG(u.reputation) AS average_reputation 
FROM 
    users AS u;

 * sqlite:///chatdata.db
Done.

[(312.3509124484032,)]

In [77]:
sql = """SELECT 
    AVG(u.reputation) AS average_reputation 
FROM 
    users AS u;"""
store_query("Task 2", "What is the average reputation of table users?", sql)

What are the min and max reputation of users?

In [78]:
%%sql
SELECT 
    MIN(u.reputation) AS min_reputation, 
    MAX(u.reputation) AS max_reputation 
FROM 
    users AS u;

 * sqlite:///chatdata.db
Done.

[(1, 228662)]

In [79]:
sql = """SELECT 
    MIN(u.reputation) AS min_reputation, 
    MAX(u.reputation) AS max_reputation 
FROM 
    users AS u;"""
store_query("Task 2", "What are the min and max reputation of users?", sql)

What is the length of the body of 5 most viewed posts?

In [80]:
%%sql
SELECT 
    p.len_body, 
    p.viewcount 
FROM 
    posts AS p 
ORDER BY 
    p.viewcount DESC 
LIMIT 
    5;

 * sqlite:///chatdata.db
Done.

[(2270, 19542), (512, 16317), (811, 11723), (2148, 9850), (1172, 6718)]

In [81]:
sql = """SELECT 
    p.len_body, 
    p.viewcount 
FROM 
    posts AS p 
ORDER BY 
    p.viewcount DESC 
LIMIT 
    5;"""
store_query("Task 2", "What is the length of the body of 5 most viewed posts?", sql)

How many different locations are there in the users table?

In [82]:
%%sql
SELECT 
    COUNT(DISTINCT u.location) AS unique_locations 
FROM 
    users AS u;

 * sqlite:///chatdata.db
Done.

[(1900,)]

In [83]:
sql = """SELECT 
    COUNT(DISTINCT u.location) AS unique_locations 
FROM 
    users AS u;"""
store_query("Task 2", "How many different locations are there in the users table?", sql)

What are the top 5 locations of users?

In [84]:
%%sql
SELECT 
    u.location AS location, 
    COUNT(u.location) AS location_count 
FROM 
    users AS u 
GROUP BY 
    u.location 
ORDER BY 
    COUNT(u.location) DESC 
LIMIT 
    5;

 * sqlite:///chatdata.db
Done.

[('Germany', 117),
 ('India', 100),
 ('United States', 69),
 ('Paris, France', 66),
 ('London, United Kingdom', 63)]

In [85]:
sql = """SELECT 
    u.location AS location, 
    COUNT(u.location) AS location_count 
FROM 
    users AS u 
GROUP BY 
    u.location 
ORDER BY 
    COUNT(u.location) DESC 
LIMIT 
    5;"""
store_query("Task 2", "What are the top 5 locations of users?", sql)

Rank the days of the week from highest to lowest in terms of the volume of ViewCount as a percentage.

In [86]:
%%sql
SELECT 
    CAST (strftime('%w', p.creationdate) AS INTEGER) AS day_as_integer,
    case cast (strftime('%w', p.creationdate) as integer)
      when 0 then 'Sunday'
      when 1 then 'Monday'
      when 2 then 'Tuesday'
      when 3 then 'Wednesday'
      when 4 then 'Thursday'
      when 5 then 'Friday'
      else 'Saturday' end as day,
    (ROUND(SUM(p.viewcount) * 100.0 / (SELECT SUM(viewcount) FROM posts),2)) AS percentage_viewcount
FROM 
    posts AS p 
GROUP BY 
    day_as_integer
ORDER BY 
    percentage_viewcount DESC;

 * sqlite:///chatdata.db
Done.

[(4, 'Thursday', 16.82),
 (3, 'Wednesday', 16.77),
 (2, 'Tuesday', 16.26),
 (1, 'Monday', 15.81),
 (5, 'Friday', 13.56),
 (0, 'Sunday', 11.9),
 (6, 'Saturday', 8.89)]

In [87]:
sql = """SELECT 
    CAST (strftime('%w', p.creationdate) AS INTEGER) AS day_as_integer,
    case cast (strftime('%w', p.creationdate) as integer)
      when 0 then 'Sunday'
      when 1 then 'Monday'
      when 2 then 'Tuesday'
      when 3 then 'Wednesday'
      when 4 then 'Thursday'
      when 5 then 'Friday'
      else 'Saturday' end as day,
    (ROUND(SUM(p.viewcount) * 100.0 / (SELECT SUM(viewcount) FROM posts),2)) AS percentage_viewcount
FROM 
    posts AS p 
GROUP BY 
    day_as_integer
ORDER BY 
    percentage_viewcount DESC;"""
store_query("Task 2", "Rank the days of the week from highest to lowest in terms of the volume of ViewCount as a percentage.", sql)

# Task 3: Cross Table Queries

## Lifecycle Stage: Analyze
Let's continue the analysis with our multi-table queries.

### Cross Table Queries

From the Template SQL Queries there are a series of queries requested. You are responsible for coding the result. Use the pattern above to accomplish the coding objective.  Copy and paste the question (column B Action) into a markdown cell and answer the query. Use the pattern that you have been using above. 

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Enter your code below.  Just keep on inserting cells as you need them.
    </font></div>

How many posts have been created by a user that has a filled out the "AboutMe" section?

In [88]:
%%sql
SELECT 
    COUNT(*) 
FROM 
    posts AS p 
JOIN 
    users AS u 
    ON 
    p.owneruserid = u.id 
WHERE 
    u.aboutme != '';

 * sqlite:///chatdata.db
Done.

[(17189,)]

In [89]:
sql = """SELECT 
    COUNT(*) 
FROM 
    posts AS p 
JOIN 
    users AS u 
    ON 
    p.owneruserid = u.id 
WHERE 
    u.aboutme != '';"""
store_query("Task 3", "How many posts have been created by a user that has a filled out the AboutMe section?", sql)

Considering only the users with an "AboutMe," how many posts are there per user?

In [90]:
%%sql
SELECT 
    ROUND((SELECT 
               CAST(COUNT(*) AS FLOAT)
           FROM 
               posts AS p
           JOIN 
               users AS u
               ON 
               p.owneruserid = u.id
           WHERE 
               u.aboutme != '') / 
               COUNT(*),2) AS posts_per_user
FROM 
    users AS u
WHERE 
    u.aboutme != '';

 * sqlite:///chatdata.db
Done.

[(4.27,)]

In [91]:
sql = """SELECT 
    ROUND((SELECT 
               CAST(COUNT(*) AS FLOAT)
           FROM 
               posts AS p
           JOIN 
               users AS u
               ON 
               p.owneruserid = u.id
           WHERE 
               u.aboutme != '') / 
               COUNT(*),2) AS posts_per_user
FROM 
    users AS u
WHERE 
    u.aboutme != '';"""
store_query("Task 3", "Considering only the users with an AboutMe, how many posts are there per user?", sql)

Not taking into account the commentcount field in the table posts, what are the Top 10 posts in terms of number of comments?

In [92]:
%%sql
SELECT 
    p.id AS post_id, 
    COUNT(c.id) AS comment_count 
FROM 
    posts AS p 
JOIN 
    comments AS c 
    ON 
    p.id = c.postid 
GROUP BY 
    p.id 
ORDER BY 
    comment_count DESC 
LIMIT 
    10;

 * sqlite:///chatdata.db
Done.

[(386853, 66),
 (386556, 34),
 (418910, 31),
 (395232, 31),
 (402987, 27),
 (386075, 26),
 (394118, 24),
 (402950, 23),
 (398828, 23),
 (396111, 22)]

In [93]:
sql = """SELECT 
    p.id AS post_id, 
    COUNT(c.id) AS comment_count 
FROM 
    posts AS p 
JOIN 
    comments AS c 
    ON 
    p.id = c.postid 
GROUP BY 
    p.id 
ORDER BY 
    comment_count DESC 
LIMIT 
    10;"""
store_query("Task 3", "Not taking into account the commentcount field in the table posts, what are the Top 10 posts in terms of number of comments?", sql)

What are the Top 10 posts which have the highest cumulative (post score + comment score) score?

In [110]:
%%sql
SELECT 
    p.id AS post_id,
    SUM(p.score + c.score) AS cumulative_score 
FROM 
    posts AS p 
JOIN 
    comments AS c 
    ON 
    p.id = c.postid 
GROUP BY 
    p.id 
ORDER BY 
    cumulative_score DESC 
LIMIT 
    10;

 * sqlite:///chatdata.db
Done.

[(394118, 1778),
 (394128, 1569),
 (418910, 1094),
 (398653, 1021),
 (388578, 941),
 (388566, 885),
 (396818, 808),
 (418814, 621),
 (394258, 570),
 (394439, 566)]

In [95]:
sql = """SELECT 
    p.id AS post_id,
    SUM(p.score + c.score) AS cumulative_score 
FROM 
    posts AS p 
JOIN 
    comments AS c 
    ON 
    p.id = c.postid 
GROUP BY 
    p.id 
ORDER BY 
    cumulative_score DESC 
LIMIT 
    10;"""
store_query("Task 3", "What are the Top 10 posts which have the highest cumulative (post score + comment score) score?", sql)

Who are the top 10 users who comment the most?

In [96]:
%%sql
SELECT 
    u.id, 
    COUNT(c.id) AS comment_count, 
    u.reputation 
FROM 
    users AS u 
JOIN 
    comments AS c 
    ON 
    c.userid = u.id 
GROUP BY 
    u.id 
ORDER BY 
    comment_count DESC 
LIMIT 
    10;

 * sqlite:///chatdata.db
Done.

[(919, 3301, 223056),
 (805, 1153, 228662),
 (143489, 1024, 2890),
 (11887, 805, 39200),
 (85665, 691, 17391),
 (164061, 540, 13485),
 (22047, 536, 41385),
 (158565, 504, 6482),
 (7962, 492, 8030),
 (35989, 470, 71548)]

In [97]:
sql = """SELECT 
    u.id, 
    COUNT(c.id) AS comment_count, 
    u.reputation 
FROM 
    users AS u 
JOIN 
    comments AS c 
    ON 
    c.userid = u.id 
GROUP BY 
    u.id 
ORDER BY 
    comment_count DESC 
LIMIT 
    10;"""
store_query("Task 3", "Who are the top 10 users who comment the most?", sql)

Who are the top 10 users who post the most?

In [99]:
%%sql
SELECT 
    u.id AS user_id, 
    COUNT(*) AS number_of_posts, 
    u.reputation 
FROM 
    users AS u 
JOIN 
    posts AS p 
    ON 
    p.owneruserid = u.id 
GROUP BY 
    u.id 
ORDER BY 
    u.reputation DESC 
LIMIT 
    10;

 * sqlite:///chatdata.db
Done.

[(805, 230, 228662),
 (919, 203, 223056),
 (7290, 35, 115531),
 (686, 386, 85077),
 (28666, 8, 75024),
 (35989, 230, 71548),
 (7224, 233, 65999),
 (4253, 71, 59952),
 (1352, 285, 59160),
 (22311, 140, 51155)]

In [206]:
sql = """SELECT 
    u.id AS user_id, 
    COUNT(*) AS number_of_posts, 
    u.reputation 
FROM 
    users AS u 
JOIN 
    posts AS p 
    ON 
    p.owneruserid = u.id 
GROUP BY 
    u.id 
ORDER BY 
    u.reputation DESC 
LIMIT 
    10;"""
store_query("Task 3", "Who are the top 10 users who post the most?", sql)

# Task 4: Check the Queries Table

Now let's tidy up and check the queries table.

First let's check it's contents:

In [207]:
%sql SELECT * FROM queries

 * sqlite:///chatdata.db
Done.

[('Single Table Queries', 'Which 5 users have viewed the most times and what is the sum of those views per user?', '\nSELECT Id, SUM(Views) AS TotalViews\n    FROM Users\n        GROUP BY Id\n            ORDER BY TotalViews DESC\n                LIMIT 5\n                '),
 ('Task 1', 'Create table comments', '\n    CREATE TABLE "comments" (\n    "Id" INTEGER,\n    "PostId" INTEGER,\n    "Score" INTEGER,\n    "Text" TEXT,\n    "CreationDate" TEXT,\n    "UserId" INTEGER\n    )\n    '),
 ('Task 1', 'Create table posts', '\nCREATE TABLE "posts" (\n"Id" INTEGER NOT NULL PRIMARY KEY,\n"PostTypeId" INTEGER,\n"AcceptedAnswerId" INTEGER,\n"ParentId" INTEGER,\n"CreationDate" ... (226 characters truncated) ... " TEXT,\n"Tags" TEXT,\n"AnswerCount" INTEGER,\n"CommentCount" INTEGER,\n"FavoriteCount" INTEGER,\n"ClosedDate" TEXT,\n"CommunityOwnedDate" TEXT\n);\n'),
 ('Task 1', 'Create table users', '\nCREATE TABLE "users" (\n"Id" INTEGER NOT NULL PRIMARY KEY,\n"Reputation" INTEGER,\n"CreationDate" TEXT,\n"DisplayName" TEXT,\n"LastAccessDate" TEXT ... (19 characters truncated) ... T,\n"Location" TEXT,\n"AboutMe" TEXT,\n"Views" INTEGER,\n"UpVotes" INTEGER,\n"DownVotes" INTEGER,\n"ProfileImageUrl" TEXT,\n"AccountId" INTEGER\n);\n'),
 ('Task 1', 'Count rows in comments table', 'SELECT COUNT(*) FROM comments;'),
 ('Task 1', 'Count rows in users table', 'SELECT COUNT(*) FROM users;'),
 ('Task 1', 'Count rows in posts table', 'SELECT COUNT(*) FROM posts;'),
 ('Task 1', 'Select 5 random rows from posts table', 'select * from Posts order by random() limit 5;'),
 ('Task 1', 'Select 5 random rows from comments table', 'select * from Comments order by random() limit 5;'),
 ('Task 1', 'Select 5 random rows from users table', 'select * from Users order by random() limit 5;'),
 ('Task 2', 'How many posts have 0 comments?', 'SELECT \n    COUNT(p.commentcount) AS zero_comment_count \nFROM \n    posts AS p \nWHERE \n    p.commentcount = 0;'),
 ('Task 2', 'How many posts have 1 comments?', 'SELECT \n    COUNT(p.commentcount) AS one_comment_count \nFROM \n    posts AS p \nWHERE \n    p.commentcount = 1;'),
 ('Task 2', 'How many posts have 2 comments or more?', 'SELECT \n    COUNT(commentcount) AS two_plus_comments_count \nFROM \n    posts AS p \nWHERE \n    p.commentcount >= 2;'),
 ('Task 2', 'Find the 5 posts with the highest viewcount', 'SELECT \n    p.id, \n    p.viewcount\nFROM \n    posts AS p \nORDER BY \n    p.viewcount DESC \nLIMIT \n    5;'),
 ('Task 2', 'Find the top 5 posts with the highest scores', 'SELECT \n    p.id, \n    p.score \nFROM \n    posts AS p \nORDER BY \n    p.score DESC \nLIMIT \n    5;'),
 ('Task 2', 'What are the 5 most frequent scores on posts?', 'SELECT \n    p.score, \n    COUNT(p.score) AS score_count \nFROM \n    posts AS p \nGROUP BY \n    p.score \nORDER BY \n    COUNT(p.score) DESC \nLIMIT \n    5;'),
 ('Task 2', 'How many posts have the keyword data in their tags?', 'SELECT \n    COUNT(tags) AS tag_contains_data_keyword \nFROM \n    posts AS p \nWHERE \n    lower(p.tags) LIKE "%data%";'),
 ('Task 2', 'What are the 5 most frequent commentcount for posts?', 'SELECT \n    p.commentcount, \n    COUNT(p.commentcount) AS commentcount_count \nFROM \n    posts AS p \nGROUP BY \n    p.commentcount \nORDER BY \n    COUNT(p.commentcount) DESC \nLIMIT \n    5;'),
 ('Task 2', 'How many posts have an accepted answer?', 'SELECT \n    COUNT(p.acceptedanswerid) AS accepted_answer_count \nFROM \n    posts AS p \nWHERE \n    p.acceptedanswerid != 0;'),
 ('Task 2', 'What is the average reputation of table users?', 'SELECT \n    AVG(u.reputation) AS average_reputation \nFROM \n    users AS u;'),
 ('Task 2', 'What are the min and max reputation of users?', 'SELECT \n    MIN(u.reputation) AS min_reputation, \n    MAX(u.reputation) AS max_reputation \nFROM \n    users AS u;'),
 ('Task 2', 'What is the length of the body of 5 most viewed posts?', 'SELECT \n    p.len_body, \n    p.viewcount \nFROM \n    posts AS p \nORDER BY \n    p.viewcount DESC \nLIMIT \n    5;'),
 ('Task 2', 'How many different locations are there in the users table?', 'SELECT \n    COUNT(DISTINCT u.location) AS unique_locations \nFROM \n    users AS u;'),
 ('Task 2', 'What are the top 5 locations of users?', 'SELECT \n    u.location AS location, \n    COUNT(u.location) AS location_count \nFROM \n    users AS u \nGROUP BY \n    u.location \nORDER BY \n    COUNT(u.location) DESC \nLIMIT \n    5;'),
 ('Task 2', 'Rank the days of the week from highest to lowest in terms of the volume of ViewCount as a percentage.', "SELECT \n    CAST (strftime('%w', p.creationdate) AS INTEGER) AS day_as_integer,\n    case cast (strftime('%w', p.creationdate) as integer)\n      wh ... (250 characters truncated) ... (viewcount) FROM posts),2)) AS percentage_viewcount\nFROM \n    posts AS p \nGROUP BY \n    day_as_integer\nORDER BY \n    percentage_viewcount DESC;"),
 ('Task 3', 'How many posts have been created by a user that has a filled out the AboutMe section?', "SELECT \n    COUNT(*) \nFROM \n    posts AS p \nJOIN \n    users AS u \n    ON \n    p.owneruserid = u.id \nWHERE \n    u.aboutme != '';"),
 ('Task 3', 'Considering only the users with an AboutMe, how many posts are there per user?', "SELECT \n    ROUND((SELECT \n               CAST(COUNT(*) AS FLOAT)\n           FROM \n               posts AS p\n           JOIN \n               us ... (70 characters truncated) ...         WHERE \n               u.aboutme != '') / \n               COUNT(*),2) AS posts_per_user\nFROM \n    users AS u\nWHERE \n    u.aboutme != '';"),
 ('Task 3', 'Not taking into account the commentcount field in the table posts, what are the Top 10 posts in terms of number of comments?', 'SELECT \n    p.id AS post_id, \n    COUNT(c.id) AS comment_count \nFROM \n    posts AS p \nJOIN \n    comments AS c \n    ON \n    p.id = c.postid \nGROUP BY \n    p.id \nORDER BY \n    comment_count DESC \nLIMIT \n    10;'),
 ('Task 3', 'What are the Top 10 posts which have the highest cumulative (post score + comment score) score?', 'SELECT \n    p.id AS post_id,\n    SUM(p.score) + SUM(c.score) AS cumulative_score \nFROM \n    posts AS p \nJOIN \n    comments AS c \n    ON \n    p.id = c.postid \nGROUP BY \n    p.id \nORDER BY \n    cumulative_score DESC \nLIMIT \n    10;'),
 ('Task 3', 'Who are the top 10 users who comment the most?', 'SELECT \n    u.id, \n    COUNT(c.id) AS comment_count, \n    u.reputation \nFROM \n    users AS u \nJOIN \n    comments AS c \n    ON \n    c.userid = u.id \nGROUP BY \n    u.id \nORDER BY \n    u.reputation DESC \nLIMIT \n    10;'),
 ('Task 3', 'Who are the top 10 users who post the most?', 'SELECT \n    u.id AS user_id, \n    COUNT(*) AS number_of_posts, \n    u.reputation \nFROM \n    users AS u \nJOIN \n    posts AS p \n    ON \n    p.owneruserid = u.id \nGROUP BY \n    u.id \nORDER BY \n    u.reputation DESC \nLIMIT \n    10;')]

## Drop Duplicates

You likely have some duplicates. Lets drop them.

In [208]:
# Read the queries table into pandas
sql = 'SELECT * FROM queries'
queries = pd.read_sql(sql, con)

# Drop duplicates
queries.drop_duplicates(inplace = True) # drop duplicates

## Case Issues

Remember, SQL is case insensitive. Pandas IS case sensitive. Lets deal with this now by making all of the text uppercase.

In [209]:
for col in queries.columns:
    queries[col] = queries[col].str.upper()
    
queries

,task,action,query
0,SINGLE TABLE QUERIES,WHICH 5 USERS HAVE VIEWED THE MOST TIMES AND W...,"\nSELECT ID, SUM(VIEWS) AS TOTALVIEWS\n FRO..."
1,TASK 1,CREATE TABLE COMMENTS,"\n CREATE TABLE ""COMMENTS"" (\n ""ID"" INTE..."
2,TASK 1,CREATE TABLE POSTS,"\nCREATE TABLE ""POSTS"" (\n""ID"" INTEGER NOT NUL..."
3,TASK 1,CREATE TABLE USERS,"\nCREATE TABLE ""USERS"" (\n""ID"" INTEGER NOT NUL..."
4,TASK 1,COUNT ROWS IN COMMENTS TABLE,SELECT COUNT(*) FROM COMMENTS;
5,TASK 1,COUNT ROWS IN USERS TABLE,SELECT COUNT(*) FROM USERS;
6,TASK 1,COUNT ROWS IN POSTS TABLE,SELECT COUNT(*) FROM POSTS;
7,TASK 1,SELECT 5 RANDOM ROWS FROM POSTS TABLE,SELECT * FROM POSTS ORDER BY RANDOM() LIMIT 5;
8,TASK 1,SELECT 5 RANDOM ROWS FROM COMMENTS TABLE,SELECT * FROM COMMENTS ORDER BY RANDOM() LIMIT 5;
9,TASK 1,SELECT 5 RANDOM ROWS FROM USERS TABLE,SELECT * FROM USERS ORDER BY RANDOM() LIMIT 5;
10,TASK 2,HOW MANY POSTS HAVE 0 COMMENTS?,SELECT \n COUNT(P.COMMENTCOUNT) AS ZERO_COM...
11,TASK 2,HOW MANY POSTS HAVE 1 COMMENTS?,SELECT \n COUNT(P.COMMENTCOUNT) AS ONE_COMM...
12,TASK 2,HOW MANY POSTS HAVE 2 COMMENTS OR MORE?,SELECT \n COUNT(COMMENTCOUNT) AS TWO_PLUS_C...
13,TASK 2,FIND THE 5 POSTS WITH THE HIGHEST VIEWCOUNT,"SELECT \n P.ID, \n P.VIEWCOUNT\nFROM \n ..."
14,TASK 2,FIND THE TOP 5 POSTS WITH THE HIGHEST SCORES,"SELECT \n P.ID, \n P.SCORE \nFROM \n ..."
15,TASK 2,WHAT ARE THE 5 MOST FREQUENT SCORES ON POSTS?,"SELECT \n P.SCORE, \n COUNT(P.SCORE) AS ..."
16,TASK 2,HOW MANY POSTS HAVE THE KEYWORD DATA IN THEIR ...,SELECT \n COUNT(TAGS) AS TAG_CONTAINS_DATA_...
17,TASK 2,WHAT ARE THE 5 MOST FREQUENT COMMENTCOUNT FOR ...,"SELECT \n P.COMMENTCOUNT, \n COUNT(P.COM..."
18,TASK 2,HOW MANY POSTS HAVE AN ACCEPTED ANSWER?,SELECT \n COUNT(P.ACCEPTEDANSWERID) AS ACCE...
19,TASK 2,WHAT IS THE AVERAGE REPUTATION OF TABLE USERS?,SELECT \n AVG(U.REPUTATION) AS AVERAGE_REPU...
20,TASK 2,WHAT ARE THE MIN AND MAX REPUTATION OF USERS?,SELECT \n MIN(U.REPUTATION) AS MIN_REPUTATI...
21,TASK 2,WHAT IS THE LENGTH OF THE BODY OF 5 MOST VIEWE...,"SELECT \n P.LEN_BODY, \n P.VIEWCOUNT \nF..."
22,TASK 2,HOW MANY DIFFERENT LOCATIONS ARE THERE IN THE ...,SELECT \n COUNT(DISTINCT U.LOCATION) AS UNI...
23,TASK 2,WHAT ARE THE TOP 5 LOCATIONS OF USERS?,"SELECT \n U.LOCATION AS LOCATION, \n COU..."
24,TASK 2,RANK THE DAYS OF THE WEEK FROM HIGHEST TO LOWE...,"SELECT \n CAST (STRFTIME('%W', P.CREATIONDA..."
25,TASK 3,HOW MANY POSTS HAVE BEEN CREATED BY A USER THA...,SELECT \n COUNT(*) \nFROM \n POSTS AS P ...
26,TASK 3,"CONSIDERING ONLY THE USERS WITH AN ABOUTME, HO...",SELECT \n ROUND((SELECT \n CA...
27,TASK 3,NOT TAKING INTO ACCOUNT THE COMMENTCOUNT FIELD...,"SELECT \n P.ID AS POST_ID, \n COUNT(C.ID..."
28,TASK 3,WHAT ARE THE TOP 10 POSTS WHICH HAVE THE HIGHE...,"SELECT \n P.ID AS POST_ID,\n SUM(P.SCORE..."
29,TASK 3,WHO ARE THE TOP 10 USERS WHO COMMENT THE MOST?,"SELECT \n U.ID, \n COUNT(C.ID) AS COMMEN..."
30,TASK 3,WHO ARE THE TOP 10 USERS WHO POST THE MOST?,"SELECT \n U.ID AS USER_ID, \n COUNT(*) A..."

In [210]:
# Write the now deduped uppercase dataframe back to sqlite and replace the table
queries.to_sql('queries', con, if_exists='replace', index=False)

31

## Use Case

Now that we have this queries table, lets give you some ideas about how you would use it.

Suppose you wanted to find all of the queries where you did a GROUP BY:

In [211]:
%%sql
SELECT query
    FROM queries
        WHERE query LIKE '%GROUP BY%'

 * sqlite:///chatdata.db
Done.

[('\nSELECT ID, SUM(VIEWS) AS TOTALVIEWS\n    FROM USERS\n        GROUP BY ID\n            ORDER BY TOTALVIEWS DESC\n                LIMIT 5\n                ',),
 ('SELECT \n    P.SCORE, \n    COUNT(P.SCORE) AS SCORE_COUNT \nFROM \n    POSTS AS P \nGROUP BY \n    P.SCORE \nORDER BY \n    COUNT(P.SCORE) DESC \nLIMIT \n    5;',),
 ('SELECT \n    P.COMMENTCOUNT, \n    COUNT(P.COMMENTCOUNT) AS COMMENTCOUNT_COUNT \nFROM \n    POSTS AS P \nGROUP BY \n    P.COMMENTCOUNT \nORDER BY \n    COUNT(P.COMMENTCOUNT) DESC \nLIMIT \n    5;',),
 ('SELECT \n    U.LOCATION AS LOCATION, \n    COUNT(U.LOCATION) AS LOCATION_COUNT \nFROM \n    USERS AS U \nGROUP BY \n    U.LOCATION \nORDER BY \n    COUNT(U.LOCATION) DESC \nLIMIT \n    5;',),
 ("SELECT \n    CAST (STRFTIME('%W', P.CREATIONDATE) AS INTEGER) AS DAY_AS_INTEGER,\n    CASE CAST (STRFTIME('%W', P.CREATIONDATE) AS INTEGER)\n      WH ... (250 characters truncated) ... (VIEWCOUNT) FROM POSTS),2)) AS PERCENTAGE_VIEWCOUNT\nFROM \n    POSTS AS P \nGROUP BY \n    DAY_AS_INTEGER\nORDER BY \n    PERCENTAGE_VIEWCOUNT DESC;",),
 ('SELECT \n    P.ID AS POST_ID, \n    COUNT(C.ID) AS COMMENT_COUNT \nFROM \n    POSTS AS P \nJOIN \n    COMMENTS AS C \n    ON \n    P.ID = C.POSTID \nGROUP BY \n    P.ID \nORDER BY \n    COMMENT_COUNT DESC \nLIMIT \n    10;',),
 ('SELECT \n    P.ID AS POST_ID,\n    SUM(P.SCORE) + SUM(C.SCORE) AS CUMULATIVE_SCORE \nFROM \n    POSTS AS P \nJOIN \n    COMMENTS AS C \n    ON \n    P.ID = C.POSTID \nGROUP BY \n    P.ID \nORDER BY \n    CUMULATIVE_SCORE DESC \nLIMIT \n    10;',),
 ('SELECT \n    U.ID, \n    COUNT(C.ID) AS COMMENT_COUNT, \n    U.REPUTATION \nFROM \n    USERS AS U \nJOIN \n    COMMENTS AS C \n    ON \n    C.USERID = U.ID \nGROUP BY \n    U.ID \nORDER BY \n    U.REPUTATION DESC \nLIMIT \n    10;',),
 ('SELECT \n    U.ID AS USER_ID, \n    COUNT(*) AS NUMBER_OF_POSTS, \n    U.REPUTATION \nFROM \n    USERS AS U \nJOIN \n    POSTS AS P \n    ON \n    P.OWNERUSERID = U.ID \nGROUP BY \n    U.ID \nORDER BY \n    U.REPUTATION DESC \nLIMIT \n    10;',)]

## Now Your Turn
Find the queries that have 'DISTINCT' in them. You can do it with the %sql command or with Pandas and sql.

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Complete the following code cell
    </font></div>

In [212]:
%%sql
SELECT query
    FROM queries
        WHERE query LIKE '%DISTINCT%'

 * sqlite:///chatdata.db
Done.

[('SELECT \n    COUNT(DISTINCT U.LOCATION) AS UNIQUE_LOCATIONS \nFROM \n    USERS AS U;',)]

# Close SQLite

It is good practise to close all relational databases as soon as you are finished updating them.

In [213]:
con.close()

# All Done!

Great job. You now have a good idea for how to use sql and pandas with sql. You can create your own databases from csv files and you can do extensive querying using sql. These are valuable skills that will take you a long ways in todays technological world.